.TOPNAV {
TEXT-ALIGN: CENTER;
OVERFLOW: HIDDEN;
BACKGROUND-COLOR: #333;
WIDTH: 100%;
}
.TOPNAV A {
COLOR: #FF0000;
PADDING: 20PX 20PX;
TEXT-DECORATION: NONE;
FONT-SIZE: 17PX;
}
BODY {
MARGIN: 10;
FONT-FAMILY: TIMES NEW ROMAN, SERIF;
}
NAV UL {
LIST-STYLE: NONE;
PADDING: 0;
MARGIN: 0;
}
NAV LI {
DISPLAY: BLOCK;
MARGIN-RIGHT: 50PX;
}
NAV A {
TEXT-DECORATION: NONE;
COLOR: #FFF;
FONT-SIZE: 30PX;
}
NAV A:HOVER {
TEXT-DECORATION: NONE;
BACKGROUND-COLOR: RED;
BACKGROUND-IMAGE: URL("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIOSC37XVvelz_ZzJQuM3b2ZphLO0Z5PPn7Q&s");
}
