.TOPNAV {
OVERFLOW: HIDDEN;
BACKGROUND-COLOR: #333; 
}
.TOPNAV A {
FLOAT: LEFT; 
COLOR: #F2F2F2; 
TEXT-ALIGN: CENTER; 
PADDING: 14PX 16PX; 
TEXT-DECORATION: NONE; 
FONT-SIZE: 17PX; 
}
BODY {
MARGIN: 8; 
FONT-FAMILY: TIMES NEW ROMAN, SERIF; 
}
NAV UL {
LIST-STYLE: NONE; 
PADDING: 0; 
MARGIN: 0; 
}
NAV LI {
DISPLAY: FLEX; 
MARGIN-RIGHT: 50PX; 
}
NAV A {
TEXT-DECORATION: NONE;
COLOR: #FFF; 
FONT-SIZE: 25PX;
}
NAV A:HOVER {
TEXT-DECORATION: NONE; 
}